.diagonal-separator {
    position: relative;
    width: 100%; /* or any specific width */
    height: 80px; /* or any specific height */
    overflow: hidden;
}

.diagonal-separator::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: #DC2626;
    transform: skewY(-3deg);
    transform-origin: 100%;
}