---
layout: layouts/home.njk
eleventyNavigation:
  key: Home
  order: 1
numberOfLatestPostsToShow: 3
---

<div class="container mx-auto px-4 py-8 max-w-4xl">
    <div class="flex flex-col items-center justify-start md:h-auto h-screen">
        <!-- Responsive height -->
        <img src="https://source.unsplash.com/random/150x200" alt="Profile" class="rounded-lg mb-8">
        <div class="text-center">
            <div class="number-indicator mb-2">Happy Clients: 8 and Counting</div>
            <h1 class="text-6xl font-bold mb-6">Gabriel J. Pérez Irizarry</h1>
            <p class="mb-4">I am Gabe, a versatile <span class="text-red-500">full-stack engineer and tech leader</span>, with a rich tapestry of experience from IBM to innovative startups. Educated at Georgia Tech and the University of Puerto Rico, my decade in software has honed not just my development skills, but also a flair for product design and SaaS leadership.</p>
            <p class="italic mb-6">A single word to define me? 'Explorer' seems fitting, as I'm always on a quest for new knowledge.</p>
            <a href="/about/" class="btn btn-outline btn-accent">Learn more about me</a>
        </div>
    </div>
</div>

<div class="container mx-auto px-4">
    {% set postsCount = collections.posts | length %}
    {% set latestPostsCount = postsCount | min(numberOfLatestPostsToShow) %}
    <h1 class="text-2xl font-bold my-4">Latest {{ latestPostsCount }} Post{% if latestPostsCount != 1 %}s{% endif %}
    </h1>

    {% set postslist = collections.posts | head(-1 * numberOfLatestPostsToShow) %}
    {% set postslistCounter = postsCount %}
    {% include "postslist.njk" %}

    {% set morePosts = postsCount - numberOfLatestPostsToShow %}
    {% if morePosts > 0 %}
        <p class="mt-4">
            {{ morePosts }} more post{% if morePosts != 1 %}s{% endif %} can be found in 
    <a href="/blog/" class="link link-hover">the archive</a>.
</p>
    {% endif %}
</div>

{# List every content page in the project #}
{#
<ul>
	{%- for entry in collections.all %}
	<li><a href="{{ entry.url }}"><code>{{ entry.url }}</code></a></li>
	{%- endfor %}
</ul>
#}