{%- css %}.postlist { counter-reset: start-from {{ (postslistCounter or postslist.length) + 1 }} }{% endcss %}
<ol reversed class="list-decimal list-inside">
	{% for post in postslist | reverse %}
		<li class="mb-3{% if post.url == url %} bg-primary text-primary-content{% endif %}">
			<a href="{{ post.url }}" class="link link-hover">{{ post.data.title | default('<code>' ~ post.url ~ '</code>', true) }}</a>
			<time class="block text-sm text-neutral mt-1" datetime="{{ post.date | htmlDateString }}">{{ post.date | readableDate("LLLL yyyy") }}</time>
		</li>
	{% endfor %}
</ol>