<!doctype html>
<html lang="{{ metadata.language }}">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>{{ title or metadata.title }}</title>
		<meta name="description" content="{{ description or metadata.description }}">

		{#- Atom and JSON feeds included by default #}
		<link rel="alternate" href="/feed/feed.xml" type="application/atom+xml" title="{{ metadata.title }}">
		<link rel="alternate" href="/feed/feed.json" type="application/json" title="{{ metadata.title }}">

		{#- Uncomment this if you’d like folks to know that you used Eleventy to build your site!  #}
		{#- <meta name="generator" content="{{ eleventy.generator }}"> #}

		{#-
		CSS bundles are provided via the `eleventy-plugin-bundle` plugin:
		1. You can add to them using `{% css %}`
		2. You can get from them using `{% getBundle "css" %}` or `{% getBundleFileUrl "css" %}`
		3. You can do the same for JS: {% js %}{% endjs %} and <script>{% getBundle "js" %}</script>
		4. Learn more: https://github.com/11ty/eleventy-plugin-bundle
		#}

		{#- Add an arbitrary string to the bundle #}
		{# {%- css %}* { box-sizing: border-box; }{% endcss %} #}
		{#- Add the contents of a file to the bundle #}
		{#- Or add from node_modules #}
		{# {%- css %}{% include "node_modules/prismjs/themes/prism-okaidia.css" %}{% endcss %} #}

		{#- Render the CSS bundle using Inlined CSS (for the fastest site performance in production) #}
		{% set css %}
		{% include "public/css/tailwind.css" %}
		{% include "public/css/index.css" %}
		{% endset %}
		<style>
			{{css | postcss | safe}}
		</style>
		{#- Renders the CSS bundle using a separate file, if you can't set CSP directive style-src: 'unsafe-inline' #}
		{#- <link rel="stylesheet" href="{% getBundleFileUrl "css" %}"> #}
	</head>
	<body>
		<header class="navbar bg-base-100">
			<!-- Skip link for accessibility -->
			<a href="#skip" class="absolute w-1 h-1 overflow-hidden whitespace-nowrap clip">Skip to main content</a>

			<!-- Navbar start: Logo or branding -->
			<div class="navbar-start">
				<a href="/" class="btn btn-ghost normal-case text-xl">{{ metadata.title }}</a>
			</div>

			<!-- Navbar center: Navigation links -->
			<div class="navbar-center hidden lg:flex">
				<nav>
					<ul class="menu menu-horizontal px-1">
						{%- for entry in collections.all | eleventyNavigation %}
							<li>
								<a href="{{ entry.url }}"{% if entry.url == page.url %} aria-current="page"{% endif %}>{{ entry.title }}</a>
							</li>
						{%- endfor %}
					</ul>
				</nav>
			</div>

			<!-- Navbar end: Additional elements like search or notifications -->
			<div class="navbar-end">
				<button class="btn btn-ghost btn-circle">
					<svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z"/></svg>
				</button>
				<!-- Other buttons or icons -->
			</div>
		</header>

		<main id="skip">
			<div class="container mx-auto px-4 py-6">
				{{ content | safe }}
			</div>
		</main>

		<div class="diagonal-separator"></div>

		<footer class="bg-red-600 text-white">
			<div class="container mx-auto px-4 py-8">
				<div class="flex flex-col md:flex-row items-center justify-between">
					<div class="mb-6 md:mb-0">
						<h2 class="text-4xl font-bold mb-4">Let's talk!</h2>
						<p class="mb-4">Navigating the tech landscape, I blend a decade of full-stack expertise with a passion for effiency and good design that's evident in everything I craft.</p>
						<p>Got a challenge or an idea? I’m all ears. Drop a line at <a href="mailto:gabe@example.com" class="text-blue-200 hover:text-blue-100">gabe@example.com</a> and let's bring your vision to life together.</p>
					</div>
					<div class="flex items-center">
						<!-- Icons will be simple placeholders, replace with actual SVGs or icon fonts -->
						<a href="/imprint" class="mx-2 text-white hover:text-gray-300">Imprint</a>
						<a href="/privacy" class="mx-2 text-white hover:text-gray-300">Privacy</a>
						<!-- Social Media Icons -->
						<a href="https://twitter.com" class="mx-2 text-white hover:text-gray-300">Twitter Icon</a>
						<a href="https://facebook.com" class="mx-2 text-white hover:text-gray-300">Facebook Icon</a>
						<a href="https://instagram.com" class="mx-2 text-white hover:text-gray-300">Instagram Icon</a>
						<a href="https://linkedin.com" class="mx-2 text-white hover:text-gray-300">LinkedIn Icon</a>
						<a href="https://github.com" class="mx-2 text-white hover:text-gray-300">GitHub Icon</a>
					</div>
				</div>
				<div class="text-center mt-8">
					© {{ 'now' | year }} Gabriel J. Pérez Irizarry
        		</div>
			</div>
		</footer>

		<!-- Current page: {{ page.url | htmlBaseUrl }} -->
	</body>
</html>