---
layout: layouts/base.njk
---
{# Only include the syntax highlighter CSS on blog posts #}
{%- css %}{% include "node_modules/prismjs/themes/prism-okaidia.css" %}{% endcss %}
{%- css %}{% include "public/css/prism-diff.css" %}{%- endcss %}

<h1 class="text-3xl font-bold mb-4">{{ title }}</h1>

<ul class="list-none p-0">
	<li class="text-sm text-neutral mb-2">
		<time datetime="{{ page.date | htmlDateString }}" class="text-accent">
			{{ page.date | readableDate }}
		</time>
	</li>
	{%- for tag in tags | filterTagList %}
		{%- set tagUrl %}/tags/{{ tag | slugify }}/{% endset %}
		<li class="inline-block mr-2">
			<a href="{{ tagUrl }}" class="badge badge-outline badge-accent">{{ tag }}</a>
			{%- if not loop.last %}, {% endif %}
		</li>
	{%- endfor %}
</ul>

<div class="prose">
	{{ content | safe }}
</div>

{%- if collections.posts %}
	{%- set previousPost = collections.posts | getPreviousCollectionItem %}
	{%- set nextPost = collections.posts | getNextCollectionItem %}
	{%- if nextPost or previousPost %}
		<ul class="flex justify-between p-0 my-6">
			{%- if previousPost %}
				<li>
					<a href="{{ previousPost.url }}" class="link link-hover">
				Previous: {{ previousPost.data.title }}
					</a>
				</li>
			{% endif %}
			{%- if nextPost %}
				<li>
					<a href="{{ nextPost.url }}" class="link link-hover">
				Next: {{ nextPost.data.title }}
					</a>
				</li>
			{% endif %}
		</ul>
	{%- endif %}
{%- endif %}